:root {
    --primary-font-family: 'Crimson Text', serif;
    --secondary-font-family: 'Lobster';
    --accent-color: #008080;
    --secondary-accent-color: #7FFFD4;
    --third-accent-color: #808080;
}