<header class="header">
    <div class="header-container">
        <nav class="navigation">
            <a class="logo link" href=""></a>
            <ul class="navigation-menu">
                <li class="navigation-menu_item">
                    <a href="">Home</a>
                </li>
                <li class="navigation-menu_item">
                    <a href="">Secondo</a>
                </li>
                <li class="navigation-menu_item">
                    <a href="">Terzo</a>
                </li>
                <li class="navigation-menu_item">
                    <a href="">Quarto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>